<div class="card card-border border border-primary" id="cardCreate" style="display: none;">
    <div class="card-header text-center card-header blue darken-4 text-white">
        <h4 class="card-title">
            <button type="button" data-title-pos="right" data-title="Regresar" class="btn float-left button-card-back bg-success btn-circle my-0 py-0 btn-sm mx-0 px-0 text-white waves-effect waves-light"
                    onclick="instance.changeView()">
                <i class="fas fa-chevron-circle-left"></i>
            </button>
            Agregar empresa
        </h4>
    </div>
    <div class="card-body">
        <form id="formCreate">
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label for="PaisId">País</label>
                        <select id="PaisId" class="form-control" name="PaisId"></select>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="input-type form-group">
                        <label for="Nombre">Nombre</label>
                        <input type="text" id="Nombre" class="form-control" name="Nombre"/>
                    </div>
                </div>
                <div class="col-md-12 text-right">
                    <button type="submit" data-title-pos="left" data-title="Guardar"
                            class="btn button-save bg-primary btn-rounded btn-sm text-white waves-effect waves-light">
                        <i class="fas fa-save"></i> Guardar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>