@{

}

<!-- card -->
<div class="card animated zoomIn card-border border border-primary">
    <div class="card-body">
        <div class="text-center">
            <h4 class="h4">
                <strong>BIENVENIDO</strong>
                <br>
                <img style="max-width: 75px;" class="img-fluid my-3" src="/Images/logo.png" alt="Logo de la empresa">
                <br>
                <span class="text-center">DAS GLOBAL, S. A.</span>
            </h4>
        </div>
        <div class="text-center mt-5">
        </div>
    </div>
</div>
<!-- /. card -->